doctype html 
html 
    head 
        title This is title 
        style 
            include ../static/style.css
            include ../static/utility.css
    body 
        nav#navbar.top
            ul
                div#logo
                    img(src='/static/images/solo-girl.png')
                    span.font-bold RDA
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info]
                li #[a(href='/contact') Contact Us]

        section#introSection 
            div Welcome to Ravindra's Dance Academy. 
            div.small Eat Dance Sleep Repeat.
        section#missionSection 
            h2.center Our Mission
            div.container 
                div.card
                    h3.center Perfect Dancing
                    div.card-box
                        div.card-img
                            img(src='/static/images/mj.png')
                        div.card-content
                            p This is the best dance academy to laean perfact dancing.
                div.card
                    h3.center Dance the way you like
                    div.card-box
                        div.card-img
                            img(src='/static/images/solo-girl1.png')
                        div.card-content
                            p Here you can learn the dance in certain way that is easier for you.
                div.card
                    h3.center Expert Training
                    div.card-box
                        div.card-img
                            img(src='/static/images/couple.png')
                        div.card-content
                            p Here we took experts to train you.
        section#sponserSection 
            h2.center Our Sponsers
            div#sponsers
                img(src='/static/Logos/global.png', alt="Sponser Image" class='spImage') 
                img(src='/static/Logos/apple1.png', alt="Sponser Image" class='spImage') 
                img(src='/static/Logos/google.png', alt="Sponser Image" class='spImage') 
                img(src='/static/Logos/pt.png', alt="Sponser Image" class='spImage') 
        footer#footer 
                | Copyright © 2021 ravindradanceacademy.com | All rights reserved

        script 
            include ../static/index.js
